@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

[x-cloak] { display: none !important; }

@font-face { font-family: 'Estedad'; src: url('/assets/fonts/estedad/Estedad-Thin.woff2') format('woff2'); font-weight: 100; font-style: normal; font-display: swap; }
@font-face { font-family: 'Estedad'; src: url('/assets/fonts/estedad/Estedad-Light.woff2') format('woff2'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'Estedad'; src: url('/assets/fonts/estedad/Estedad-Medium.woff2') format('woff2'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'Estedad'; src: url('/assets/fonts/estedad/Estedad-Bold.woff2') format('woff2'); font-weight: 700; font-style: normal; font-display: swap; }
@font-face { font-family: 'Estedad'; src: url('/assets/fonts/estedad/Estedad-Black.woff2') format('woff2'); font-weight: 900; font-style: normal; font-display: swap; }

@theme {
    --font-sans: 'Estedad', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
