BROADCAST_CONNECTION=reverb
REVERB_APP_ID=GENERATE_A_RANDOM_VALUE
REVERB_APP_KEY=GENERATE_A_RANDOM_VALUE
REVERB_APP_SECRET=GENERATE_A_RANDOM_VALUE
REVERB_HOST=neova.ir
REVERB_PORT=443
REVERB_SCHEME=https
REVERB_SERVER_HOST=127.0.0.1
REVERB_SERVER_PORT=8080
REVERB_SCALING_ENABLED=false
REVERB_ALLOWED_ORIGINS=neova.ir,www.neova.ir
REVERB_APP_MAX_CONNECTIONS=1000
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
